GIN_MODE=release
#GIN_MODE=debug
PORT=3000

DATABASE_DEFAULT_DRIVER=sqlite
DATABASE_DEFAULT_NAME=runtime/hello_email_tool.sqlite
#DATABASE_DEFAULT_DRIVER=mysql
#DATABASE_DEFAULT_NAME=test
DATABASE_DEFAULT_HOST=host.docker.internal
DATABASE_DEFAULT_PORT=3306
DATABASE_DEFAULT_USERNAME=root
DATABASE_DEFAULT_PASSWORD=root
DATABASE_DEFAULT_TABLE_PREFIX=

REDIS_DEFAULT_HOST=host.docker.internal
REDIS_DEFAULT_PORT=6379
REDIS_DEFAULT_PASSWORD=test
REDIS_DEFAULT_SELECT=1

JWT_EXPIRE=7200
JWT_SECRET=jWEcgtVBj

# SMTP 邮件配置
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_password
SMTP_FROM=your_email@example.com
SMTP_FROM_NAME=EmailTool

# 邮件接口授权码（支持多个，逗号隔开）
EMAIL_AUTH_CODE=your_auth_code
# 页面访问授权码（单个）
WEB_AUTH_CODE=your_web_auth_code